/* =============
    Typography
============= */
body{
    h1{font-family: 'Sansita Swashed';font-size: 22px;}
    h2{font-family: 'Sansita Swashed';font-size: 22px;}
    a{font-family: 'M PLUS Rounded 1c';font-size: 22px;}
    p{font-family: 'M PLUS Rounded 1c';font-size: 22px;}


    h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    }

    p{
    margin: 0;
    padding: 0;
    }

}
